body {
    padding-top: 5rem;
    height: 100%;
}


.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}


.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}


.product-title{
    color: #5c2e87;
    font-size: 1.4rem;    
}

.card-title{
    color: white;
    font-size: 1.4rem;
}


.body-greeting{
    color: #5c2e87;
    font-size: 2.4rem;
}


.add-app{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }


.logo-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 3rem;
}


.btn-nav-style{
    border-radius: 1.2rem;
    width: 12.1rem;
    height: 2.7rem;
}

.data-card-category{
    border-radius: 1.2rem;
    width: 12.1rem;
    height: 12.1rem;
}


footer {
    bottom: 0;

    width: 100%;
    position: absolute;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
    top:93%;
}

/*.modal.fade {
    background: rgba(0,0,0,0.5);
}*/

/*.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}*/